
<div class="catalog-container">
  <aside class="filter-section">
    <h2>Filters</h2>

    <div class="filter-group list">
      <h3>Categories</h3>
      <div *ngFor="let category of categories">
        <label>
          <input type="checkbox" (change)="toggleCategory(category)" />
          {{ category }}
        </label>
      </div>
    </div>

    <div class="filter-group list">
      <h3>Authors</h3>
      <div *ngFor="let author of authors">
        <label>
          <input type="checkbox" (change)="toggleAuthor(author)" />
          {{ author }}
        </label>
      </div>
    </div>

    <div class="filter-group">
      <h3>Price Range</h3>
      <div class="price-range-inputs">
        <label>
          From: 
          <input type="number" [(ngModel)]="selectedPriceRange.min" step="0.01" (input)="updatePriceRange()" placeholder="Min" />
        </label>
        <label>
          To: 
          <input type="number" [(ngModel)]="selectedPriceRange.max" step="0.01" (input)="updatePriceRange()" placeholder="Max" />
        </label>
      </div>
    </div>

    <div class="filter-group">
      <h3>Page Count Range</h3>
      <div class="page-range-inputs">
        <label>
          From: 
          <input type="number" [(ngModel)]="selectedPageRange.min" step="1" (input)="updatePageRange()" placeholder="Min" />
        </label>
        <label>
          To: 
          <input type="number" [(ngModel)]="selectedPageRange.max" step="1" (input)="updatePageRange()" placeholder="Max" />
        </label>
      </div>
    </div>
  </aside>

  <section class="catalog-section">
    <div class="catalog-header">
      <div class="search-container">
        <div class="search-input-wrapper">
          <span class="search-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="11" cy="11" r="8"></circle>
              <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
          </span>
          <input 
            type="text" 
            [(ngModel)]="searchTerm" 
            (input)="onSearch()" 
            placeholder="Search by title or author"
            class="search-input"
          >
          <button *ngIf="searchTerm" (click)="clearSearch()" class="clear-search-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </button>
        </div>
      </div>
      <div class="sort-container">
        <label for="sort-select">Sort By:</label>
        <select id="sort-select" [(ngModel)]="sortOrder" (change)="onSort()" class="sort-select">
          <option value="rating">Rating</option>
          <option value="titleAsc">Title (A-Z)</option>
          <option value="titleDesc">Title (Z-A)</option>
          <option value="priceAsc">Price (Low to High)</option>
          <option value="priceDesc">Price (High to Low)</option>
        </select>
      </div>
    </div>

    <div class="book-grid">
      <div *ngFor="let book of displayedBooks" class="book-card" (click)="cardOnClick(book.id)">
        <img [src]="book.coverImage" alt="{{ book.title }}" class="book-cover" />
        <div class="info-container">
          <h3>{{ book.title }}</h3>
          <p>{{ book.author }}</p>
          <p>{{ book.category }}</p>
          <div class="stars">
            <span *ngFor="let star of getRatingStars(book.rating)">
              <ng-container *ngIf="star === 1">★</ng-container>
              <ng-container *ngIf="star === 0">☆</ng-container>
            </span>
          </div>
          <p>
            <span 
              *ngIf="book.hasDiscount" 
              style="color: red; margin-left: 10px;">
              ${{ (book.price * (1 - book.discount / 100)) | number:'1.2-2' }}
            </span>
            <span 
              *ngIf="book.hasDiscount" 
              style="text-decoration: line-through; color: gray;">
              ${{ book.price | number:'1.2-2' }}
            </span>
            <span *ngIf="!book.hasDiscount">
              ${{ book.price | number:'1.2-2' }}
            </span>
          </p>
          <p>
            <span *ngIf="book.copiesAvailable != 0" style="color: green; display: flex; justify-content: center; align-items: center; gap: 5px;">
              <svg xmlns="http://www.w3.org/2000/svg"  width="16" height="16" fill="currentColor" class="icon" viewBox="0 0 32 32"><path d="M29 19a1 1 0 0 0 1-1v-1.24a2.05 2.05 0 0 0-1.42-2l-1.69-.56-.52-3A4.17 4.17 0 0 0 22.09 8H19V5.89A1.88 1.88 0 0 0 17.11 4H4a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h.08a4 4 0 0 0 0 .5 3.52 3.52 0 1 0 1-2.49H5L4 22V6h13v16h-3a1 1 0 0 0 0 2h5.88a2.73 2.73 0 0 0-.05.5 3.6 3.6 0 0 0 6.44 2.11A3.38 3.38 0 0 0 27 24.5a4 4 0 0 0 0-.5h1a2 2 0 0 0 2-2 1 1 0 0 0-1-1 1 1 0 0 0-1 1h-2.1a3.56 3.56 0 0 0-2.49-1 3.65 3.65 0 0 0-2.52 1H19v-6h6.79l2.21.76V18a1 1 0 0 0 1 1zM7.5 23A1.5 1.5 0 1 1 6 24.5 1.5 1.5 0 0 1 7.5 23zm15.91 0a1.6 1.6 0 0 1 1.28.61 1.43 1.43 0 0 1 0 1.78 1.6 1.6 0 0 1-1.28.61 1.5 1.5 0 1 1 0-3zm-1.32-13a2.22 2.22 0 0 1 2.31 1.57l.42 2.43H19v-4z" data-name="delivery truck"/></svg>
              In Stock
            </span>
            <span *ngIf="book.copiesAvailable === 0" style="color: red; display: flex; justify-content: center; align-items: center; gap: 5px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  fill="currentColor" class="icon" viewBox="0 0 32 32"><path d="M29 19a1 1 0 0 0 1-1v-1.24a2.05 2.05 0 0 0-1.42-2l-1.69-.56-.52-3A4.17 4.17 0 0 0 22.09 8H19V5.89A1.88 1.88 0 0 0 17.11 4H4a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h.08a4 4 0 0 0 0 .5 3.52 3.52 0 1 0 1-2.49H5L4 22V6h13v16h-3a1 1 0 0 0 0 2h5.88a2.73 2.73 0 0 0-.05.5 3.6 3.6 0 0 0 6.44 2.11A3.38 3.38 0 0 0 27 24.5a4 4 0 0 0 0-.5h1a2 2 0 0 0 2-2 1 1 0 0 0-1-1 1 1 0 0 0-1 1h-2.1a3.56 3.56 0 0 0-2.49-1 3.65 3.65 0 0 0-2.52 1H19v-6h6.79l2.21.76V18a1 1 0 0 0 1 1zM7.5 23A1.5 1.5 0 1 1 6 24.5 1.5 1.5 0 0 1 7.5 23zm15.91 0a1.6 1.6 0 0 1 1.28.61 1.43 1.43 0 0 1 0 1.78 1.6 1.6 0 0 1-1.28.61 1.5 1.5 0 1 1 0-3zm-1.32-13a2.22 2.22 0 0 1 2.31 1.57l.42 2.43H19v-4z" data-name="delivery truck"/></svg>
              Out of Stock
            </span>
          </p>
          <div class="add-to-cart">
            <button [disabled]="book.copiesAvailable === 0" class="outlined-btn-green" (click)="addToCart($event, book)">
              <img width="28" height="28" src="https://img.icons8.com/windows/32/shopping-cart.png" alt="shopping-cart"/>
              <span>Add to Cart</span>
              </button>
          </div>
        </div>
      </div>
    </div>

    <div class="pagination-controls">
      <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
      <span>Page {{ currentPage }}</span>
      <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage * pageSize >= filteredBooks.length">Next</button>
    </div>
  </section>
</div>
